 body {
    font-family: Arial;
  }
  
  header {
    background-color:rgb(226, 0, 0);
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: black;
  }

  table, th, td {
    border: 1px solid black;
    text-align: center;
  }

  footer {
    background-color: rgb(177, 133, 173);
    padding: 2px;
    text-align: center;
    color: white;
  }
  