/*
NÍVEL 1

#pond {
  display: flex;
justify-content: flex-end
}


NÍVEL 2

#pond {
  display: flex;
justify-content: center
}

NÍVEL 3

#pond {
  display: flex;
justify-content: space-around
}

NÍVEL 4

#pond {
  display: flex;
justify-content: space-between
}

NÍVEL 5

#pond {
  display: flex;
align-items: flex-end
}

NÍVEL 6

#pond {
  display: flex;
justify-content: center; align-items: center 
}

NÍVEL 7

#pond {
  display: flex;
justify-content: space-around; 
align-items: flex-end;
}

NÍVEL 8

#pond {
  display: flex;
flex-direction: row-reverse
}

NÍVEL 9

#pond {
  display: flex;
flex-direction: column
}

NÍVEL 10

#pond {
  display: flex;
flex-direction: row-reverse;
justify-content: flex-end 
}

NÍVEL 11

#pond {
  display: flex;
flex-direction: column;
justify-content: flex-end;
}

NÍVEL 12

#pond {
  display: flex;
flex-direction: column-reverse;
justify-content: space-between
}

NÍVEL 13

#pond {
  display: flex;
flex-direction: row-reverse;
align-items: flex-end; 
justify-content: center; 
}

NÍVEL 14

#pond {
  display: flex;
}

.yellow {
order: 1
}

NÍVEL 15

#pond {
  display: flex;
}

.red {
order: -1
}

NÍVEL 16

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
align-self: flex-end
}

NÍVEL 17

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
order: 1;
align-self: flex-end;
}

NÍVEL 18

#pond {
  display: flex;
flex-wrap:  wrap
}

NÍVEL 19
#pond {
  display: flex;
flex-direction: column;
flex-wrap: wrap
}

NÍVEL 20

#pond {
  display: flex;
flex-flow: column wrap
}

NÍVEL 20

#pond {
  display: flex;
flex-flow: column wrap
}

NÍVEL 21

#pond {
  display: flex;
  flex-wrap: wrap;
align-content: start
}

NÍVEL 22

#pond {
  display: flex;
  flex-wrap: wrap;
align-content: flex-end;
}

NÍVEL 23 

#pond {
  display: flex;
  flex-wrap: wrap;
flex-direction: column-reverse;
align-content: center;
}

NÍVEL 24

#pond {
  display: flex;
flex-direction: column-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
align-content: space-between; 
}

*/
