 
 *{
 
  padding: 0px;
}
 
 h2 {
  font-family: 'Archivo Black', sans-serif;
  }
  
  body{
    font-family: 'Archivo ', sans-serif;
    background-color: whitesmoke;

  }
  header {
    background-color:#e41a1a;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: black;
  }

  table, th, td {
    border: 1px solid black;
    text-align: center;
  }

  footer {
    background-color: #474747;
    padding: 1px;
    text-align: center;
    color: black;
  }
  