
body {
    margin: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center;
}

main > div {
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0; 
    min-height: 25vh;
    margin: 5px;
    padding: 5px;
    height: 50vh;
    min-width: 400px;
    font-size: 30px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.container > * {
    margin: 0 10px;
}

hr {
    margin: 30px 0;
}
