* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vw;
    padding: 0 40px 0 20px;
    color: whitesmoke;
  }
  
  input {
    width: 12vw;
  }
  
  .container {
    display: flex;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0 30px 0;
  }
  
  article {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    border: 1px solid grey;
    width: 23%;
  }
  
  img {
    width: 21.3vw;
  }
  
  .imagens {
    padding: 1vw;
  }
  
  nav {
   
    border-right: 2px solid grey;
  }
  
  nav > p {
    padding: 5px;
  }
  
  footer {
    background-color: orange;
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }